<form>
  <div class="form-row" >
    <div class="col-md-3">
      <div class="form-group">
        <label for="voornaam">Voornaam</label>
        <input type="text" required id="voornaam" class="form-control" />
      </div>
    </div>
  <!-- <div class="form-row" > -->
    <div class="col-md-3">
      <div class="form-group">
        <label for="achternaam">Naam</label>
        <input type="text" required id="achternaam" class="form-control"/>
      </div>
    </div>
  </div>
  <div class="form-row" >
    <div class="col-md-3 form-group">
      <label for="email">Email</label>
      <input type="email" required id="email" class="form-control required"/>
    </div>
  </div>
  <div class="form-row" >
    <div class="col-md-6 form-group">
      <label for="comment">Uw vraag</label>
      <textarea required id="comment" class="form-control" placeholder="Stel hier uw vraag" rows="5" ></textarea>
    </div>
  </div>
  <div class="form-row" >
    <div class="col-sm">
      <input type="submit" value="Verzend" />
    </div>
  </div>
</form>