<div class="container">
  <h1>Drinkfontein</h1>
  <p>
  Drinkfonteinen zijn oud en nieuw. In de negentiende eeuw werden ze wel vaker geplaatst op pleinen of in parken, maar meestal als waterelement van een groot ornamenteel object en vaak met een historische lading. Maar deze zijn niet altijd of niet langer echt “drinkbaar“ water...
  </p><p>
  Vandaag is er opnieuw vraag naar drinkwatervoorziening: een nieuw stedelijk element of voorziening op de pleinen en in de parken. Het is een klein (stedelijk) object dat alleen staat of in rij, uitgelijnd of tegen een muur, maar niet langer als onderdeel van een sculptuur. Het is een ’urban element’ waarop men als het ware kan leunen...
  </p><p>
  Een zoektocht dus naar een vormgeving die beter aansluiting vindt bij het meubilair van de stad en die ook voldoet aan eisen inzake hygiëne en gebruikscomfort. Hierbij denken we bijvoorbeeld aan de toegankelijkheid voor mensen in een rolstoel.
  </p>
  
  <a routerLink="/lijst">Ga naar lijst</a>
</div>